@model IQueryable<Theme>

@foreach (Theme theme in Model) {
    <div class="list-group m-2">
        <a asp-controller="Thread" asp-action="Posts" asp-route-Id="@theme.Id" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@theme.Name</h5>
                <small>
                    Posts:
                    <span class="badge badge-primary badge-pill">
                        @if (theme.Posts != null) {
                            @theme.Posts.Count()
                        } else {
                            @($"zero")
                        }
                    </span>
                    Id: @theme.Id
                </small>
            </div>
            <p class="mb-1"></p>
            <small>
                Last post:
                @if (theme.Posts.OrderByDescending(p => p.CreatedTime).FirstOrDefault() != null) {
                    @theme.Posts.OrderByDescending(p => p.CreatedTime).FirstOrDefault().CreatedTime
                } else {
                    @($"-- -- --");
                }
            </small>
        </a>
    </div>
}

<div class="text-center m-3">
    <a asp-action="AddPosts" type="button" class="btn btn-success">
        Add Posts
    </a>
    <a asp-action="DropThemes" type="button" class="btn btn-danger">
    Drop Themes
    </a>
</div>